<div class="annonce-form">
  <form [formGroup]="form">
    <fieldset>
      <h1 id="pageTitleAF"><br/>Créer une annonce<br/><br/></h1>

      <div class="row">
      <div class="col-sm-6 titleAF form-group align-self-center" >
        <h3 class="inputLegend">Intitulé</h3>
        <input type="text" class="form-control inputAF" placeholder="intitulé de l'annonce" id="nameAF" formControlName="title"/>
      </div>

      <div class="col-sm-6 titleAF form-group" >
        <h3 class="inputLegend">Lieu (code postal)</h3>
        <input type="text" class="form-control inputAF" placeholder="00000" id="cpAF" formControlName="postalCodeDemand"/>
      </div>
      </div>

      <div class="form-group titleAF1">
        <label for="exampleTextarea"><h4>Quel est le sujet de votre annonce?</h4></label>
        <textarea class="form-control inputAF1" rows="3" id="descAF" formControlName="description"></textarea>
      </div>

      <div class="form-group titleAF1">
        <label for="exampleSelect1"><h4>Sélectionner une catégorie</h4></label>
        <select class="form-control inputAF1"  id="catAF" formControlName="category">
          <option>Shopping</option>
          <option>Cuisine</option>
          <option>Ménage</option>
          <option>Garde</option>
          <option>Trajet</option>
          <option>Tech</option>
          <option>Autre</option>
        </select>
      </div>

      <input type="submit" class="btn btn-primary submitAF" (click)="addDemand()" value="Poster mon annonce"/><br/>

    </fieldset>
  </form>
</div>