<br>
<br>
<div class="card border-secondary mb-3 col-10 mx-auto">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Une communauté forte qui grandit de jours en jour. <br>
        Merci à tous d'être chaque jour plus nombreux à vous inscrire sur notre site. </p>
        <footer class="blockquote-footer text-secondary">Merci à <cite title="Source Title">vous tous</cite></footer>
      </blockquote>
</div>
<div class="img-team">
    <img class="d-block w-100" src="https://images.pexels.com/photos/53958/team-motivation-teamwork-together-53958.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="border-radius: 10px;">
</div>