<div class="annonce-title">
    <h1>Liste des annonces</h1>
</div>
<hr class="annonce-hr">
<br>
<br>
<div class="annonce-cards">
<div class="card-deck">
    <div class="card text-light bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Shopping</div>
        <div class="card-body">
        <h4 class="card-title">Livraison de courses</h4>
        <p class="card-text">Je cherche quelqu'un pour pouvoir ammener des courses à mon grand père qui habite .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Cuisine</div>
        <div class="card-body">
        <h4 class="card-title">Aide aux repas</h4>
        <p class="card-text">Actuellement en poste à l'hopital de Lille, je cherche quelqqu'un qui pourrait m'aider à cuisiner pour .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Tech</div>
        <div class="card-body">
        <h4 class="card-title">Création site web</h4>
        <p class="card-text">Nous recherchons quelqu'un pour intégréer bénévolement une équipe tech pour la création d'un site web .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Aide à la personne</div>
        <div class="card-body">
        <h4 class="card-title">Ménage à domicile</h4>
        <p class="card-text">A la recherche d'une aide ménagère pour aider mes grands-parents .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Shopping</div>
        <div class="card-body">
        <h4 class="card-title">Achat de masques</h4>
        <p class="card-text">Si jamais quelqu'un trouvais des masques homologués en pharmacie, j'aimerais en acheter .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Jardinage</div>
        <div class="card-body">
        <h4 class="card-title">Entretien jardin</h4>
        <p class="card-text">Recherche personne dynamique pour entretenir de temps en temps un jardin .... </p>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
        
        </div>
    </div>
</div>
<br>
<br>

<!-- <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div *ngFor="let a of annonces">
        <div class="card-header">{{a.cat}}</div>
        <div class="card-body">
        <h4 class="card-title">{{a.title}}</h4>
        <p class="card-text">{{a.description}}</p>
        </div>
        <a class="btn btn-light" href="/annonce/profil">En savoir plus</a>
    </div>  
</div> -->
