<br>
<br>
<div class="card border-primary mb-3 col-10 mx-auto">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Projet WEB SERVICE. <br>

        <strong>Robert SAGNE - Mamadou Moustapha NDOUR - Amadou Lamine SARR </strong>
        </p>
        <br>
        <footer class="blockquote-footer">Remerciement à notre formateur <cite title="Source Title">Mouhamed DIOP</cite></footer>
      </blockquote>
</div>
<div class="img-team">
    <img class="d-block w-100" src="https://images.pexels.com/photos/3184310/pexels-photo-3184310.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="border-radius: 10px;">
</div>
